@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahkan CSS khusus di sini */
html.system {
    background-color: rgb(255, 255, 255);
    color: #000; /* Warna teks untuk tema sistem */
}
html.light {
    background-color: #ffffff;
    color: #55679C;
}

html.dark {
    background-color: #55679C;
    color: #fff;
}